<div>
  <header>
    <nav class="navbar navbar-light bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard"><h4>Social Bump</h4></a>
        <div class="d-flex">
          <input type="search" placeholder="search..." class="form-control me-2" [(ngModel)]="keyword"
                 (ngModelChange)="searchPhotos($event)">
          <button class="btn btn-primary" type="submit" (click)="searchPhotos(keyword)">Search</button>
        </div>
      </div>
    </nav>
    <h5 class="my-3 text-center" *ngIf="keyword">Showing result for:
      <span class="text-primary">{{keyword | titlecase}}</span>
    </h5>
  </header>

  <div *ngIf="data; else DefaultPage" class="container">
    <app-photo-search [photoData]="data"></app-photo-search>
    <div
      infiniteScroll
      [infiniteScrollDistance]="3"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll(keyword)"></div>
  </div>

  <ng-template #DefaultPage>
    <div id="main">
      <h4><small class="text-muted ml-2">FEATURED</small></h4>
      <div class="featured mt-3">
        <div class="feature" *ngFor="let item of [].constructor(50)">
          <div class="date-float">
            <span>Aug</span>
            <span>08</span>
          </div>
          <div class="text-white m-0">
            <p><small>CONCERT</small></p>
            <h4>The Weekend</h4>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-justify">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            dolorum magni quaerat totam ducimus non, magnam voluptatem,
            error aperiam, nesciunt consequuntur ratione eligendi
            veritatis eos necessitatibus recusandae illo dolor culpa?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            error aperiam, nesciunt consequuntur ratione eligendi
            veritatis eos necessitatibus recusandae illo dolor culpa?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Fugiat quos laudantium quam harum, porro cum quasi neque
            recusandae similique fuga sunt optio commodi natus voluptate
            vero omnis ab officiis. Voluptate.
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</div>

