/* You can add global styles to this file, and also import other style files */

$body-bg: #fff;

$primary: #3C1D59;
$secondary: #E3C6FF;
$info: #F5EBFF;
$success: #127518;
$warning: #FF8937;


@import "~bootstrap/scss/bootstrap";
//@import "assets/scss/custom";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img  {
  object-fit: cover;
  width: 100%;
}
.h-250 {
  height: 250px;
}
.h-500 {
  height: 500px;
}

